@font-face {
  font-family: MavenPro;
  src: url("./styles/fonts/MavenPro-Regular.ttf");
}

@font-face {
  font-family: Monoton;
  src: url("./styles/fonts/Monoton-Regular.ttf");
}

body {
  margin: 0;
  background-color: #141251;
  background-image: linear-gradient(to right, #141251, #1b60db);
  font-family: MavenPro;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
